<!DOCTYPE html>
<html>
  <body>
    <% @user.games.each.with_index do |g| %>
    <b>Name:</b> <%= g.name %> <b>System:</b><%=g.system %><br>
    <br> 
    <% end %>
  
    <br>Please <a href="/games/new">Add a game</a> or <a href="/games/edit">Edit a game</a> to continue.
  
  </body>
</html>


