<!DOCTYPE html>
<html>
  <body>
   Game: <%= g.name %>
    <form action="/games/<%= @games.id %>/edit" method="post">
     <input id="edit" value="patch">
      Name: <input type="text" name="name"><br>
     <input type="radio" name="system" value="Playstation">Playstation</input>
     <input type="radio" name="system" value="Xbox">XBox</input>
     <input type="radio" name="system" value="PC">PC</input>
     <input type="radio" name="system" value="Nintendo">Nintendo</input
     <br>
     <input type="submit" value="Change">
    </form>
  
    or

     <form action="" method="post">
       <input value="delete">
       <input type="submit" value="delete" id="Delete">
     </form>
  </body>
</html>