<!DOCTYPE html>
<html>
  <body>
    <% @user.games.each.with_index do |g| %>
    <b>Name:</b> <%= g.name %> <b>System:</b><%=g.system %><br>
    <br> 
    <% end %><br>
    <form action="/games/<%= @game.id %>/edit" method="post">
     <input type="hidden" name="_method" value="patch">
      Name: <input type="text" name="name"><br>
     <input type="radio" name="system" value="Playstation">Playstation
     <input type="radio" name="system" value="Xbox">XBox
     <input type="radio" name="system" value="PC">PC
     <input type="radio" name="system" value="Nintendo">Nintendo<br>
     
     <input type="submit" value="Change">
    </form>
  
    or

     <form action="" method="post">
       <input value="delete">
       <input type="submit" value="delete" id="Delete">
     </form>
  </body>
</html>