<!DOCTYPE html>
<html>
  <body>
  <h3>Add Games</h3>
  <form action="/games" method="post">
  Name: <input type="text"></br>
  <input type="radio" name="system" value="playstation">Playstation</input>
  <input type="radio" name="system" value="xbox">XBox</input>
  <input type="radio" name="system" value="pc">PC</input>
  <input type="radio" name="system" value="nintendo">Nintendo</input>
  </br><input type="submit" value="Add">
</form>

  
  </body>
</html>


