<!DOCTYPE html>
<html>
  <body>
  <h3>Add Games</h3>
  <form action="/games" method="post">
  Name: <input type="text" name="name"></br>
  <input type="radio" name="system" value="Playstation">Playstation</input>
  <input type="radio" name="system" value="Xbox">XBox</input>
  <input type="radio" name="system" value="PC">PC</input>
  <input type="radio" name="system" value="Nintendo">Nintendo</input>
  </br><input type="submit" value="Add">
</form>

<a href="/users/show">List</a>
  
  </body>
</html>


