<!DOCTYPE html>
<html>
  <body>
  <h3>Add Games</h3>
  <form action="/games" method="post">
  Name: <input type="text" name="name"><br>
  <input type="radio" name="system" value="Playstation">Playstation
  <input type="radio" name="system" value="Xbox">XBox
  <input type="radio" name="system" value="PC">PC
  <input type="radio" name="system" value="Nintendo">Nintendo
  <br><input type="submit" value="Add">
</form>

<a href="/login">List</a>
  
  </body>
</html>


