<!DOCTYPE html>
<html>
  <body>
  <h1>Games</h1>
  <form action="/success" method="post">
  Name: <input type="text"></br>
  <input type="radio" name="system" value="playstation">Playstation</input>
  <input type="radio" name="system" value="xbox">XBox</input>
  <input type="radio" name="system" value="pc">PC</input>
  <input type="radio" name="system" value="nintendo">Nintendo</input>
  </br><input type="submit" value="Add">
</form>
<h2>Would you like to see your <a href="/games">Games</a>,</h2>
  
  </body>
</html>


